html, 
body {
	margin: 0;
	padding: 0;
}

body {
	background: #5E5E5E;
	font-family: "Century Gothic", sans-serif;
}

section {
	max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

form {
	margin-bottom: 10px;
}

input,
button {
	border: none;
    background: white;
    padding: 5px;
	outline: none;
}

button {
    background: #ccc;
	cursor: pointer;
}

h1 {
	color: #f9e559;
    font-size: 3vw;
    font-weight: 100;
    text-transform: uppercase;
}

img {
	max-width: 100%;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 20px;
	}
}